@import "../base/_colors";
@import "../abstract/breakpoints";

.hero,
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5rem;

  @include for-phone-only {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 3rem;
      font-family: Tomato Grotesk;
      font-style: normal;
      font-weight: 600;
      color: $primary-color;
      margin: 0rem;

      @include for-phone-only {
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
      }
    }

    p {
      display: inline;
      width: 23rem;
      line-height: 2rem;
      font-size: 1.1rem;

      @include for-phone-only {
        text-align: center;
      }
    }

    .apps {

      @include for-phone-only {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .hero-img {
    display: flex;
    justify-content: end;

    @include for-phone-only {
      justify-content: center;
    }
  }
}
