@import "../base/_colors.scss";
@import "../abstract/breakpoints";

.nav-bar {
  display: flex !important;
  flex-direction: row !important;
  width: 100% !important;
  height: inherit;
  justify-content: space-between;
  align-items: center;
  position: relative;
  i{
      display: none;
      @include for-phone-only {
        display: block;
        text-align: end;
        position: absolute;
        top: 0.7rem;
        left: 22rem;
      }
  }
  .nav-bar-logo {
    a {
      list-style: none;
      text-decoration: none;
      font-size: 1.2rem;
      color: $primary-color !important;
    }
  }

  .nav--bar-ul {
    li {
      @include for-phone-only {
        display: none;
        transition: 0.4s;
      }
      list-style: none;
      display: inline;
      color: $secondary-color !important;
      cursor: pointer;
      font-weight: 600;
      padding-inline: 2rem 0rem !important;
      a {
        font-size: 0.8rem;
        font-family: "Times New Roman", Times, serif;
        font-style: normal;
      }
      &:active,
      &:hover,
      &:visited,
      &:link,
      &:focus {
        color: $primary-color !important;
        font-weight: 600;
      }
    }

  }
}
