@import "../base/_colors.scss";

.nav-bar {
    .nav-bar-logo {
        a {
            list-style: none;
            text-decoration: none;
            font-size: 1.2rem;
            color: $primary-color !important;
        }
    }
    display: flex !important;
    flex-direction: row !important;
    width: 100% !important; 
    height: inherit;
    justify-content: space-between;
    align-items: center;
    ul{
        padding: 0;
        margin: 0;
        li{
            list-style: none;
            display: inline;
            padding: 0rem 1rem;
            color: $secondary-color !important;
            cursor: pointer;
            font-weight: 800;
            a {
                font-size: 0.8rem;
                font-family: 'Times New Roman', Times, serif;
                font-style: normal;
            }
            &:active, &:hover, &:visited, &:link, &:focus {
                color: $primary-color !important;
            }
        }
    }
}